@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 24px 350px 100px 350px;
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-right: 500px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 8px;
}

.content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    max-width: 450px;
    max-height: 220px;
    align-items: center;
    gap: 8px;
    word-wrap: break-word;
    flex-shrink: 0;
}

.image {
    height: 250px;
    width: 500px;
    background-color: gray;
    align-self: center;
    flex-shrink: 0;
}

.sign-up {
    max-width: 200px;
    align-self: flex-start;
    background-color: #3882F6;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    color: #E5E7EB;
    font-weight: 700;
    flex: 1 0 auto;

}

.big {
    align-self: flex-start;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    flex-shrink: 0;
}

/* Categories */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 100px 10px;
}

.category-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 36px;
}

.categories {
    display: flex;
    justify-content: center;
    max-width: 700px;
    gap: 40px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-text {
    text-align: center;
    font-size: 14px;
    max-width: 130px;
    color: rgb(87, 85, 85);
}

.category-image {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

/* Quote */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    min-width: 300px;
    padding: 100px 50px 100px 50px;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.by {
    align-self: flex-end;
    font-size: 24px;
    min-width: 300px;
}

/* Action */

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    min-height: 120px;
    min-width: 1000px;
    border-radius: 10px;
}

.action-text {
    display: flex;
    flex-flow: column wrap;
    color: #E5E7EB;
}

.action-text-big {
    font-size: 24px;
    font-weight: 700;
}

.action-text-small {
    font-size: 20px;
}

.sign-up.action {
    border: 2px solid white;
    align-self: center;
    flex: 0 0 auto;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 120px;
}

.copyright {
    font-size: 20px;
    color: #E5E7EB;
}